<section class="home">
  <div class="page-title">
    <div class="circle-border flex-column">
      <img
        src="https://cdn.pixabay.com/photo/2020/07/11/13/23/mercury-5393997_1280.png"
        alt="Image"
      />
    </div>

    <div class="search flex-column">
      <div class="text-car-rent text-center">
        <h1>
          Rent Vintage CARS <br />
          in worldwide
        </h1>
      </div>
      <div class="search-component row justify-content-center">
        <app-search></app-search>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="section section-two">
    <div class="div-steps">
      <h2>How it Works</h2>
      <h1>Our Working Steps</h1>
      <div class="steps">
        <div class="step">
          <i class="bi bi-geo-alt"></i>
          <h3>Choose Location</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure modi
            consequuntur illum. Corrupti odio officia itaque, ullam rem
            aspernatur quaerat
          </p>
        </div>
        <div class="step">
          <i class="bi bi-calendar"></i>
          <h3>Pick-Up Date</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure modi
            consequuntur illum. Corrupti odio officia itaque, ullam rem
            aspernatur quaerat
          </p>
        </div>
        <div class="step">
          <i class="bi bi-car-front"></i>
          <h3>Book Your Car</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure modi
            consequuntur illum. Corrupti odio officia itaque, ullam rem
            aspernatur quaerat
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-three">
    <div class="image-container">
      <img
        src="https://cdn.pixabay.com/photo/2016/03/29/07/59/oldtimer-1287710_1280.jpg"
        alt="Car Rental Image"
      />
    </div>
    <div class="text-container">
      <h1>Welcome to our Car Rental Service</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        delectus, iure tempora veniam repellat natus temporibus sequi. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Repellendus delectus,
        iure tempora veniam repellat natus temporibus sequi.
      </p>
    </div>
  </div>

  <section class="features">
    <div class="car-categories">
      <div class="card">
        <div class="card-body">
          <div class="div-extra">
            <h1>25</h1>
            <h2>Luxury Cars</h2>
          </div>
          <h5 class="card-title">
            <a href="#">Experince of the true Luxury...</a>
          </h5>
          <p class="card-text">
            Explore our collection of cars for a premium driving experience.
          </p>
          <img
            class="card-img-top"
            src="https://cdn.pixabay.com/photo/2013/08/11/03/40/car-171422_1280.jpg"
            alt="Car 1"
          />
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="div-extra">
            <h1>40</h1>
            <h2>Economy Cars</h2>
          </div>
          <h5 class="card-title">
            <a href="#">For all budgets and tastes...</a>
          </h5>
          <p class="card-text">
            Explore our collection of cars for a premium driving experience.
          </p>
          <img
            class="card-img-top"
            src="https://cdn.pixabay.com/photo/2022/08/12/11/27/oldtimer-7381557_1280.jpg"
            alt="Car 1"
          />
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="div-extra">
            <h1>15</h1>
            <h2>Family Cars</h2>
          </div>
          <h5 class="card-title">
            <a href="#">For family trips and not only...</a>
          </h5>
          <p class="card-text">
            Explore our collection of cars for a premium driving experience.
          </p>
          <img
            class="card-img-top"
            src="https://cdn.pixabay.com/photo/2023/09/03/13/43/cadillac-8230742_1280.jpg"
            alt="Car 1"
          />
        </div>
      </div>
    </div>
  </section>

  <div class="section section-four">
    <div class="image-container-four">
      <img
        src="https://cdn.pixabay.com/photo/2013/08/11/04/24/oldtimer-171443_1280.jpg"
        alt="Car Rental Image"
      />
    </div>
    <div class="text-container-four">
      <h1>Welcome to our Car Rental Service</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        delectus, iure tempora veniam repellat natus temporibus sequi. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Enim quod inventore
        non, dignissimos nihil ratione sed eaque ipsa animi delectus omnis
        blanditiis debitis
      </p>
      <div class="points">
        <ul>
          <li><i class="bi bi-check-circle-fill"></i>We are trusted name</li>
          <li>
            <i class="bi bi-check-circle-fill"></i>We deal with quality cars
          </li>
        </ul>
        <ul>
          <li>
            <i class="bi bi-check-circle-fill"></i>We have a larger stokc of
            vehicles
          </li>
          <li>
            <i class="bi bi-check-circle-fill"></i>We are at worldwide locations
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
