<div>
  <hr class="line" />
  <div class="title">
    <h1>Let's get in touch</h1>
    <h2>We are here to help</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae minima
      voluptatum fuga sapiente possimus animi adipisci tenetur voluptates magnam
      error quis
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis culpa
      amet, itaque magnam repellat necessitatibus quis dolores aspernatur
      asperiores repellendus, voluptatibus sequi, totam saepe quam deserunt
      quas. Pariatur, optio delectus.
    </p>
  </div>

  <div class="contact">
    <div class="contact-container">
      <div class="contact-image"></div>
      <div class="contact-info container">
        <div class="">
          <div class="">
            <div class="info-box">
              <h1>Phone</h1>
              <p>123 Street, City, Country</p>
            </div>
          </div>
          <div class="">
            <div class="info-box">
              <h1>Address</h1>
              <p>+1234567890</p>
            </div>
          </div>
          <div class="">
            <div class="info-box">
              <h1>Email</h1>
              <p>email123@gmail.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-form container">
        <form>
          <h2>Send us a message</h2>
          <div class="form-group name">
            <div>
              <input
                type="text"
                id="firstName"
                name="firstName"
                placeholder="First Name"
                required
              />
            </div>
            <div>
              <input
                type="text"
                id="lastName"
                name="lastName"
                placeholder="Last Name"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="Phone"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              id="message"
              name="message"
              rows="5"
              placeholder="How can we help?"
              required
            ></textarea>
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>

  <div class="map-address">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d79527.9029000183!2d23.642929!3d47.932383!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473795ba057b580d%3A0x911f5076344ce3ca!2sCascada%20%C8%98ipot!5e1!3m2!1sen!2sro!4v1712060286054!5m2!1sen!2sro"
      width="70%"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <hr class="second-line" />
</div>
