<div class="login container">
  <div class="div-login">
    <div class="row mx-auto">
      <form class="col" #form="ngForm" (ngSubmit)="onFormSubmit()">
        <h1 class="text-light fw-medium text-center">
          Welcome Back To CarRental
        </h1>
        <p class="text-light text-center">
          Enter the fileds below to get started
        </p>
        <div class="content d-flex flex-column">
          <div class="mt-3">
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              [(ngModel)]="model.email"
            />
          </div>

          <div class="mt-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              [(ngModel)]="model.password"
            />
          </div>
          <a href="#" class="link mt-5">Don't have an account? Sign Up</a>
        </div>

        <div class="action mt-3 text-center">
          <button type="submit" class="btn">Login</button>
        </div>
      </form>

      <div class="background-info col"></div>

      <div class="div-info col order-first">
        <div>
          <h1 class="fw-medium">Start Your Journey With Us</h1>
          <p class="text-black fw-lighter">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
            facilis repudiandae, delectus molestias iusto perspiciatis
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
