<div class="container">
  <h1 class="mt-3">Locations List</h1>

  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/locations/add']" class="btn btn-outline-dark"
      >Add Location</a
    >
  </div>

  <div class="container">
    <ng-container *ngIf="locations$ | async as locations">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>City</th>
              <th>Street</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of locations">
              <td>{{ location.id }}</td>
              <td>{{ location.name }}</td>
              <td>{{ location.city }}</td>
              <td>{{ location.street }}</td>
              <td>{{ location.phone }}</td>

              <td class="btns">
                <a
                  class="btn btn-outline-success"
                  [routerLink]="['/admin/locations', location.id]"
                  >Edit</a
                >
                <button
                  type="button"
                  class="btn btn-outline-danger ms-3"
                  (click)="onDelete(location.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
