<hr class="line" />
<footer class="footer p-xl-4">
  <div class="container">
    <div class="div-footer mx-2">
      <div class="div-about">
        <h2 class="footer-heading d-flex align-items-center">
          <i class="icon bi bi-postcard"></i>About
        </h2>
        <ul
          class="list-info list-unstyled d-flex flex-column justify-content-between"
        >
          <li>
            <a class="text-decoration-none" href="#">
              <i class="bi bi-geo-alt text-light"></i
              ><span class="text-light text-sm-center mx-3"
                >203 Fake St. Mountain View, San Francisco, California,
                USA</span
              >
            </a>
          </li>
          <li>
            <a class="text-decoration-none" href="#">
              <i class="bi bi-telephone text-light"></i
              ><span class="text-light text-sm-center mx-3"
                >+2 392 3929 210</span
              ></a
            >
          </li>
          <li>
            <a class="text-decoration-none" href="#"
              ><i class="bi bi-envelope text-light"></i
              ><span class="text-light text-sm-center mx-3"
                >info@yourdomain.com</span
              ></a
            >
          </li>
        </ul>
        <form action="#" class="subscribe-form">
          <div class="form-group mb-3">
            <div class="input-group d-flex position-relative">
              <input
                type="text"
                class="form-control rounded-left bg-transparent text-bg-dark"
                placeholder="Enter email address"
                aria-label="Enter email address"
              />
              <button
                type="submit"
                class="btn btn-primary submit rounded-right"
              >
                <i class="bi bi-send"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="div-news">
        <h2 class="footer-heading d-flex align-items-center">
          <i class="icon bi bi-newspaper"></i>Lates News
        </h2>

        <div class="news d-flex flex-column my-3">
          <div class="d-flex flex-row justify-content-start align-items-start">
            <img
              src="https://cdn.pixabay.com/photo/2018/02/06/19/32/auto-3135512_1280.jpg"
              alt="Image"
              class="news-image"
            />
            <div
              class="d-flex flex-column justify-content-start align-items-start px-3"
            >
              <p class="heading">
                <a class="text-light text-decoration-none" href="#"
                  >Even the all-powerful Pointing has no control about</a
                >
              </p>
              <div class="meta">
                <div>
                  <a href="#">Oct. 16, 2019</a>
                </div>
                <div>
                  <a href="#">Admin</a>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row my-3">
            <img
              src="https://cdn.pixabay.com/photo/2017/03/29/14/37/mercedes-2185358_1280.jpg"
              alt="Image"
              class="news-image"
            />
            <div class="d-flex flex-column justify-content-between px-3">
              <p class="heading">
                <a class="text-light text-decoration-none" href="#"
                  >Even the all-powerful Pointing has no control about</a
                >
              </p>
              <div class="meta">
                <div>
                  <a href="#">Oct. 16, 2019</a>
                </div>
                <div>
                  <a href="#">Admin</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="div-information">
        <h2 class="footer-heading d-flex align-items-center">
          <i class="icon bi bi-box2-heart"></i>Information
        </h2>
        <ul
          class="list list-unstyled d-flex flex-column justify-content-between align-items-start gap-2"
        >
          <li>
            <a href="#" class="py-1 d-block">About</a>
          </li>
          <li><a href="#" class="py-1 d-block">Products</a></li>
          <li><a href="#" class="py-1 d-block">Blog</a></li>
          <li><a href="#" class="py-1 d-block">Contact</a></li>
          <li><a href="#" class="py-1 d-block">Help & Support</a></li>
        </ul>
      </div>

      <div class="div-insta">
        <h2 class="footer-heading d-flex align-items-center">
          <i class="icon bi bi-instagram"></i>Instagram
        </h2>
        <div class="image-grid">
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2022/08/28/19/39/steering-wheel-7417390_1280.jpg"
              alt="Image 1"
            />
          </div>
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2018/08/03/14/00/vw-beetle-3581950_1280.jpg"
              alt="Image 2"
            />
          </div>
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2014/07/31/12/56/mercedes-406290_1280.jpg"
              alt="Image 3"
            />
          </div>
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2019/04/25/13/56/mercedes-4154929_1280.jpg"
              alt="Image 4"
            />
          </div>
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2017/03/29/14/37/mercedes-2185358_1280.jpg"
              alt="Image 5"
            />
          </div>
          <div class="image-container">
            <img
              src="https://cdn.pixabay.com/photo/2022/08/28/18/52/mercedes-7417345_1280.jpg"
              alt="Image 6"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="line" />
  <div class="mx-5">
    <div>
      <p class="mb-4 fw-medium text-light">
        WHY CarRental IS GOOD CHOICE FOR YOU
      </p>
      <p class="fw-lighter text-light">
        Whether your company is made up of five people or 500, internet
        businesses will always have scarce resources. You will never have enough
        money, engineers, time or talent. I've never met an internet company
        executive that complained about having too many talented engineers.
        Learning how to do more with less is one of the most important skills of
        an entrepreneur. Every decision will come with the sacrifice of
        something else, so you'll need to fully understand your financial state
        at any given moment. Hiring, especially early on, will feel like the
        biggest decision of your life.This is what I call scrappy validation of
        assumptions -- a process of continuous learning.
      </p>
    </div>
  </div>
  <hr class="line" />
  <div class="text-center">
    <h5 class="text-light fw-lighter mb-2">ALL RIGHTS ARE RESERVED by ---</h5>
  </div>
</footer>
