<div class="">
  <div class="row mt-5">
    <div class="title col">
      <h1 class="text-start">We collect. We restore.</h1>
      <h1 class="text-start">We rent you the best cars.</h1>
    </div>
  </div>
  <hr class="line" />

  <div class="row mt-5">
    <div class="text">
      <div class="about-text">
        <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero
          vel mi iaculis vehicula nec in lorem. Nulla facilisi. Nulla facilisi.
          Ut dapibus malesuada nulla, in sagittis dui pulvinar eget. Sed eget
          risus consectetur, tincidunt nunc nec, consectetur dui. Fusce
          malesuada enim arcu, in tristique dui sollicitudin vel. Integer
          lobortis quam ligula, vel bibendum magna vehicula non. Vivamus ac ex
          vel libero convallis rhoncus.
        </p>
      </div>
      <div class="our-mission">
        <h3>Our Mission</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et libero
          vel mi iaculis vehicula nec in lorem. Nulla facilisi. Nulla facilisi.
          Ut dapibus malesuada nulla, in sagittis dui pulvinar eget. Lorem ipsum
          dolor, sit amet consectetur adipisicing elit. Adipisci sint molestias
          impedit et fugit eaque rem suscipit voluptas repellat corrupti
          praesentium labore nesciunt sunt, illum consequatur, minus ea? Animi,
          reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dolores autem id sit perferendis et rem mollitia quisquam, impedit
          cupiditate obcaecati iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="digits row">
    <div class="col-md-4">
      <div class="info-box">
        <h2>1000+</h2>
        <p>clients</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-box">
        <h2>500+</h2>
        <p>vehicles</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info-box">
        <h2>5+</h2>
        <p>years of experience</p>
      </div>
    </div>
  </div>
  <hr class="second-line" />
</div>
