.register {
  width: 100%;
  min-height: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-register {
  width: 80%;
  border-radius: 40px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.div-register > div {
  background-color: #324b4b;
  border-radius: 40px;
  padding: 2vw;
}

form {
  width: 50vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form h1 {
  font-size: 27px;
  font-weight: 500;
}

form .content {
  width: 85%;
  text-align: center;
}

form .form-control {
  padding: 13px;
}

form .form-control input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 30px;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

form a.link {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

form .action {
  width: 100%;
}

form .action button {
  width: 85%;
  align-self: center;
  background: #b7ecec;
  font-size: 21px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}

form .action button:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}

.background-info {
  position: absolute;
  left: 40px;
  top: 14vw;
  width: 50%;
  height: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2020/03/24/11/53/mercury-4963831_1280.png");
  background-repeat: no-repeat;
  background-size: auto 25vw;
  background-position: left top;
}

.div-info {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px 30px;
  border-radius: 40px;
  background: linear-gradient(
    325deg,
    rgba(255, 255, 255, 0.45) 30%,
    transparent 70%
  );
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

.div-info div h1 {
  font-size: 25px;
  font-weight: 400;
  color: black;
  padding-bottom: 10px;
}

.div-info p {
  color: #324b4b;
  font-size: 15px;
  font-weight: 300;
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .register {
    min-width: 100%;
  }
  .div-register {
    width: 85%;
  }

  .form {
    padding: 0px;
  }

  .div-info {
    padding: 10px;
    margin: 0px;
  }

  .background-info {
    top: 180px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 300px) {
  .div-info {
    display: none;
  }

  .background-info {
    display: none;
  }

  .div-register {
    width: 95%;
  }
}
