@using CarRental.API.Models.DTO;
@model AddCarRequest
@{

}

<div>
	<h1>Add Cars</h1>
</div>

<div class="container py-5">
	<form method="post">
		@* <div class="mb-3">
			<label class="form-label">Models</label>
			<select class="form-select" asp-items="@Model.Models" asp-for="SelectedModel"></select>
		</div>


		<div class="mb-3">
			<label class="form-label">Locations</label>
			<select class="form-select" asp-items="@Model.Locations" asp-for="SelectedLocation"></select>
		</div> *@
		<div class="mb-3">
			<label class="form-label">Price</label>
			<input type="text" class="form-control" id="price" asp-for="Price" />
		</div>
			<div class="mb-3">
			<label class="form-label">Year</label>
			<input type="text" class="form-control" id="year" asp-for="Year"/>
		</div>
			<div class="mb-3">
			<label class="form-label">Type</label>
			<input type="text" class="form-control" id="type" asp-for="Type"/>
		</div>
		<div class="mb-3">
			<label class="form-label">Description</label>
			<textarea type="text" class="form-control" id="description" asp-for="Description"></textarea>
		</div>

		<div class="mb-3">
			<label class="form-label">Featured Image Upload</label>
			<input type="file" id="featuredImageUpload" class="form-control"/>

			<img src="" id="featuredImageDisplay" style="display: none; width: 300px;"/>
		</div>
		<div class="mb-3">
			<label class="form-label">ImageCar</label>
			<input type="text" class="form-control" id="imageCar" asp-for="ImageCar"/>
		</div>


		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="available" asp-for="Available" />
			<label class="form-check-label">Is Available ? </label>
		</div>


		<div class="mb-3">
			<button type="submit" class="btn btn-dark">
				Save
			</button>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		const featuredUploadElement = document.getElementById('featuredImageUpload');
		const featuredImageUrlElement = document.getElementById('imageCar');
		const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


		async function uploadFeaturedImage(e) {
			console.log(e.target.files[0]);

			let data = new FormData();
			data.append('file', e.target.files[0]);

			await fetch('/api/images', {
				method: 'POST',
				headers: {
					'Aceept': '*/*',
				},
				body: data
			}).then(response => response.json())
				.then(result => {
					featuredImageUrlElement.value = result.link;
					featuredImageDisplayElement.src = result.link;
					featuredImageDisplayElement.style.display = 'block';
				});
		}


		featuredUploadElement.addEventListener('change', uploadFeaturedImage);

	</script>
}
