<div class="container">
  <h1 class="mt-3">Edit Car</h1>

  <ng-container *ngIf="model">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-2 mb-5">
        <div class="mt-3">
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <label for="models" class="form-label">Models</label>
          <ng-container *ngIf="models$ | async as models">
            <select
              class="form-control"
              [(ngModel)]="selectedModel"
              name="selectedModel"
              id="selectedModel"
            >
              <option *ngFor="let model of models" [value]="model.id">
                {{ model.name }}
              </option>
            </select>
          </ng-container>
        </div>

        <div class="mt-3">
          <label for="locations" class="form-label">Locations</label>
          <ng-container *ngIf="locations$ | async as locations">
            <select
              class="form-control"
              [(ngModel)]="selectedLocation"
              name="selectedLocation"
              id="selectedLocation"
            >
              <option *ngFor="let location of locations" [value]="location.id">
                {{ location.name }}
              </option>
            </select>
          </ng-container>
        </div>

        <div class="mt-3">
          <label class="form-label">Price</label>
          <input
            type="text"
            id="carPrice"
            class="form-control"
            name="carPrice"
            [(ngModel)]="model.price"
          />
          <div *ngIf="errorMessagePrice" class="alert alert-danger">
            {{ errorMessagePrice }}
          </div>
        </div>

        <div class="mt-3">
          <label class="form-label">Year</label>
          <input
            type="text"
            id="carYear"
            class="form-control"
            name="carYear"
            [(ngModel)]="model.year"
          />
          <div *ngIf="errorMessageYear" class="alert alert-danger">
            {{ errorMessageYear }}
          </div>
        </div>

        <div class="mt-3">
          <label class="form-label">Type</label>
          <input
            type="text"
            id="carType"
            class="form-control"
            name="carType"
            [(ngModel)]="model.type"
          />
        </div>

        <div class="mt-3">
          <label class="form-label">Description</label>
          <input
            type="text"
            id="carDescription"
            class="form-control"
            name="carDescription"
            [(ngModel)]="model.description"
          />
        </div>

        <div class="mt-3">
          <label for="imageCar" class="form-label"
            >Image Url
            <button
              type="button"
              class="btn btn-light"
              (click)="openImageSelector()"
            >
              Select Image
            </button>
          </label>

          <ng-container *ngIf="model.imageCar !== ''">
            <div>
              <img [src]="model.imageCar" height="100" class="my-2" />
            </div>
          </ng-container>

          <input
            type="text"
            id="imageCar"
            name="imageCar"
            class="form-control"
            [(ngModel)]="model.imageCar"
          />
        </div>

        <div class="mt-3">
          <input
            type="checkbox"
            id="yearCheckbox"
            class="form-check-input"
            name="yearCheckbox"
            [(ngModel)]="model.available"
          />
          <label
            class="form-check-label"
            for="yearCheckbox"
            style="margin-left: 10px"
            >Is Available</label
          >
        </div>

        <div class="mt-3 d-flex">
          <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>

<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isImageSelectorVisible,
    'd-none': !isImageSelectorVisible
  }"
>
  <button
    type="button"
    class="btn btn-light"
    style="position: fixed; top: 10px; right: 10px"
    (click)="closeImageSelector()"
  >
    X
  </button>
  <app-image-selector></app-image-selector>
</div>
