<div class="container">
  <h1 class="mt-3">Makes List</h1>

  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/admin/makes/add']" class="btn btn-outline-dark"
      >Add Make</a
    >
  </div>

  <div class="container">
    <ng-container *ngIf="makes$ | async as makes">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let make of makes">
              <td>{{ make.id }}</td>
              <td>{{ make.name }}</td>
              <td class="btns">
                <!-- <a
                  class="btn btn-outline-success"
                  [routerLink]="['/admin/makes', make.id]"
                  >Edit</a
                > -->
                <button
                  type="button"
                  class="btn btn-outline-danger ms-3"
                  (click)="onDelete(make.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
