<div class="payment-container">
  <div class="container-title">
    <div>
      <h1>It's almost time to hit the road...</h1>
      <p>Book now and make sure there's a car waiting for you!</p>
    </div>
    <i class="bi bi-check-circle"></i>
  </div>
  <div class="form">
    <h2>Car Reservation Form</h2>
    <div class="personal-data">
      <h3>Personal Data</h3>
      <div class="personal-data-inputs">
        <div class="w-50">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Enter first name"
          />
        </div>
        <div class="w-50">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Enter last name"
          />
        </div>
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>
      <div>
        <label for="phone" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Enter phone number"
        />
      </div>
    </div>

    <div class="billing-data">
      <h3>Billing Data</h3>
      <div class="billing-data-inputs">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Enter address"
        />
      </div>
      <div class="billing-data-inputs">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          placeholder="Enter country"
        />
      </div>
      <div class="billing-data-inputs">
        <div class="w-50">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="Enter city"
          />
        </div>
        <div class="w-50">
          <label for="zipCode" class="form-label">Zip Code</label>
          <input
            type="text"
            class="form-control"
            id="zipCode"
            placeholder="Enter zip code"
          />
        </div>
      </div>
    </div>

    <div class="payment-data">
      <h3>Payment Data</h3>
      <div class="payment-data-inputs">
        <label for="cardNumber" class="form-label">Card Number</label>
        <input
          type="text"
          class="form-control"
          id="cardNumber"
          placeholder="Enter card number"
        />
      </div>
      <div class="payment-data-inputs">
        <div class="w-50">
          <label for="expiryDate" class="form-label">Expiry Date</label>
          <input
            type="text"
            class="form-control"
            id="expiryDate"
            placeholder="MM/YY"
          />
        </div>
        <div class="w-50">
          <label for="cvv" class="form-label">CVV</label>
          <input
            type="text"
            class="form-control"
            id="cvv"
            placeholder="Enter CVV"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="terms">
    <h1>Terms and conditions</h1>
    <p>
      By clicking 'Book and pay', you are confirming that you have downloaded
      (where applicable), read, understood and accepted our
      <a href="#">Terms of service</a>, <a href="#">Policy Terms </a> and the
      <a href="#">Klass Wagen rental terms.</a>
    </p>
  </div>
</div>
